<script type="text/javascript">
  window.images = '<%= image_url("hamburger.png") %>'
</script>

<script type="text/javascript">

  <% if logged_in? %>
  window.currentUser = <%= render(
    "api/users/user.json.jbuilder",
    user: current_user
  ).html_safe %>
  <% end %>

</script>




<div id="root">
</div>
