/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

a {
  text-decoration: none;
  color: #4285f4;
}

body {
  background-color: #F0F0F0;
}

.process-form-container {
  font-family: 'Roboto', sans-serif;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  z-index: 1;
  width: 450px;
  height: 500px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.process-form {
  padding: 2px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 80%;
  height: 45%;
}

.process-form button {
  background-color: #4285f4;
  border-radius: 4px;
  padding: 7px 20px;
  font-size: 14px;
  font-weight: 500;
  color: white;
  border: 1px solid #4285f4;
}

.process-form input {
  padding: 12px 20px;
  border: none;
  border-bottom: 1px solid lightgray;
  transition: width 10s;
  outline: none;
  font-size: 14px;
}

.session-links {
  display: flex;
  justify-content: space-between;
}

.greet-user {
  display: flex;
}

.main-nav {
  display: flex;
  justify-content: space-between;
}

.process-form input:focus {
  outline: none;
  border-bottom: 2px solid #4285f4;
  width: 89%;
}

.process-form button:hover {
  cursor: pointer;
}

.process-form-greeting p {
  margin: 0;
  padding-top: 1px;
  padding-bottom: 3px;
  font-size: 14px;
}

.process-form-greeting h1 {
  padding-top: 16px;
  padding-bottom: 0px;
  font-size: 24px;
  line-height: 32px;
  margin: 0;
}

.process-form-greeting {
  margin: 70px 0px 10px;
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.button-list {
  display: flex;
  justify-content: space-around;
}
