.main-nav {
  z-index: 5;
  min-height: 50px;
  background: #fff;
  padding: 0px 30px;
  border-bottom: 1px solid #e8e8e8;
  // display: flex;
  // align-items: center;
  margin-bottom: 25px;
}

.main-nav-list {
  position: relative;
  width: 100%;
}

#upload-icon {
  background: image-url("upload.png") no-repeat;
  background-size: 100%;
  opacity: 0.7;
  height: 36px;
  width: 36px;
}

#upload-icon:hover {
  opacity: 0.9;
}

.upload-link {
  position: absolute;
  right: 80px;
  top: 5px;
  height: 40px;
  width: 40px;
}

#hamburger-menu {
  position: absolute;
  left: 3px;
  top: 16px;
  background: image-url("hamburger.png") no-repeat;
  background-size: 87%;
  opacity: 0.5;
  height: 20px;
  width: 20px;
  border: none;
}

#hamburger-menu:hover {
  cursor: pointer;
  opacity: 1;
}

.logo-text {
  position: absolute;
  left: 37px;
  top: 7px;
  font-size: 30px;
}

.session-links {
  position: absolute;
  display: flex;
  top: 9px;
  right: -27px;
  width: 90px;
}

#sign-in-button {
  font-size: 11px;
  height: 12px;
  padding: 8px 10px;
  color: #fff;
  border-radius: 2px;
  text-decoration: none;
  font-weight: bolder;
  background: #169BC6;
  border-color: #169BC6;
}

#sign-in-button:hover {
  background: #1691C6;
  border-color: #1691C6;
}

.greet-user {
  display: flex;
}

.search-form {
  position: absolute;
  left: 200px;
  top: 9px;
}

#search-button {
  background: image-url("search.png") no-repeat;
  background-size: 27%;
  background-position: center;
  background-color: #F8F8F8;
  height: 29px;
  width: 63px;
  padding: 2px;
  border-radius: 2px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border: 1px solid #E7E7E7;
  border-left: 0;
  float: right;
  opacity: 0.7;
}

#search-button:hover {
  background-color: #F2F2F2;

  opacity: 1;
}

.search-bar {
  width: 570px;
  height: 23px;
  padding: 2px 6px;
  font-size: 16px;
  border: 1px solid #EDEDED;
  outline: none;
  box-shadow: inset 0px 0px 1px #EDEDED;
}

.search-bar:hover {
  border: 1px solid lightgray;
  box-shadow: inset 0px 0px 1px lightgray;
}

.search-bar:focus {
  border: 1px solid #167ac6;
}
