.main-nav {
  z-index: 5;
  min-height: 50px;
  background: #fff;
  padding: 0px 30px;
  border-bottom: 1px solid #e8e8e8;
  // display: flex;
  // align-items: center;
  margin-bottom: 25px;
}

.main-nav-list {
  position: relative;
  width: 100%;
}

#upload-icon {
  background: image-url("upload.png") no-repeat;
  background-size: 100%;
  opacity: 0.7;
  height: 36px;
  width: 36px;
}

#upload-icon:hover {
  opacity: 0.9;
}

#user-toggle-button {
  border: none;
  background-color: #48B2AD;
  font-size: 18px;
  text-align: center;
  color: white;
  outline: none;
  border-radius: 50%;
  width: 27px;
  height: 27px;
  position: absolute;
  top: 10px;
  right: 5px;
}

#user-toggle-button:hover {
  cursor: pointer;
}

#greet-user {
  margin-top: 0;
  margin-bottom: 0;
  padding: 13px;
  height: 80px;
  background-color: white;
  border-bottom: 1px solid #DFDFDF;
}

#logout-button {
  position: absolute;
  height: 28px;
  box-sizing: border-box;
  bottom: 5px;
  margin: 9px;
  right: 5px;
  font-size: 12px;
  text-align: center;
  border-radius: none;
}

#logout-button:hover {
  cursor: pointer;
}

.greeting {
}

.user-toggle-menu {
  position: absolute;
  right: 6px;
  top: 53px;
  z-index: 10;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  width: 260px;
  height: 160px;
  background-color: #f5f5f5;
}

.upload-link {
  position: absolute;
  right: 76px;
  top: 5px;
  height: 40px;
  width: 40px;
}

#hamburger-menu {
  position: absolute;
  left: 3px;
  top: 16px;
  background: image-url("hamburger.png") no-repeat;
  background-size: 87%;
  opacity: 0.5;
  height: 20px;
  width: 20px;
  border: none;
  outline: none;
}

#hamburger-menu:hover {
  cursor: pointer;
  opacity: 1;
}


.logo-text {
  position: absolute;
  left: 37px;
  top: 7px;
  font-size: 30px;
}

.session-links {
  position: absolute;
  display: flex;
  top: 9px;
  right: -27px;
  width: 90px;
}



#sign-in-button {
  font-size: 11px;
  height: 12px;
  padding: 8px 10px;
  color: #fff;
  border-radius: 2px;
  text-decoration: none;
  font-weight: bolder;
  background: #169BC6;
  border-color: #169BC6;
}

#sign-in-button:hover {
  background: #1691C6;
  border-color: #1691C6;
}

.greet-user {
  display: flex;
}

.search-form {
  position: absolute;
  left: 200px;
  top: 9px;
}

#search-button {
  background: image-url("search.png") no-repeat;
  background-size: 27%;
  background-position: center;
  background-color: #F8F8F8;
  height: 29px;
  width: 63px;
  padding: 2px;
  border-radius: 2px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border: 1px solid #E7E7E7;
  border-left: 0;
  float: right;
  opacity: 0.7;
}

#search-button:hover {
  background-color: #F2F2F2;
  cursor: pointer;
  opacity: 1;
}

.search-bar {
  width: 570px;
  height: 23px;
  padding: 2px 6px;
  font-size: 16px;
  border: 1px solid #EDEDED;
  outline: none;
  box-shadow: inset 0px 0px 1px #EDEDED;
}

.search-bar:hover {
  border: 1px solid lightgray;
  box-shadow: inset 0px 0px 1px lightgray;
}

.search-bar:focus {
  border: 1px solid #167ac6;
}
