.search-index-container {
  margin: 70px auto;
  width: 700px;
  background: white;
  box-shadow: 0 1px 2px rgba(0,0,0,.1);
}

#filter-section {
  border-bottom: 1px solid #EEEEEE;
}

.arrow-down {
  width: 0;
  height: 0;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-top: 4px solid #555;
}

#filter-toggle {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #c6c6c6;
  background-color: #F7F7F7;
  outline: none;
}

#filter-toggle:hover {
  background-color: #F0F0F0;
  border-color: #B6B6B6;
  cursor: pointer;
}

#filter-options {
  list-style-type: none;
  padding-left: 16px;
  margin: 0px 0px 5px 0px;
}

#filter-options li {
  font-size: 11px;
  font-weight: 200;
  margin-bottom: 10px;
}

#filter-options li:hover {
  cursor: pointer;
}

#sort-by-text {
  font-weight: 400;
}

#sort-by-text:hover {
  cursor: none;
}


#filter-toggle h6 {
  margin: 0px 5px 0px 0px;
  font-size: 11px;
  color: #555;
  font-weight: 300;
}

#filter-bar {
  max-height: 165px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 16px;
}

#filter-bar h4 {
  font-size: 11px;
  margin: 0px;
  height: 12px;
}

#search-index-list {
  list-style-type: none;
  padding: 0px 5px;
  margin-top: 0px;
}

.search-index-item {
  padding: 10px 11px 1px 11px;
  height: 160px;
  display: flex;
  align-items: flex-start;
}

.search-item-thumbnail {
  width: 250px;
  height: 150px;
  margin-right: 10px;
}

.search-item-right {
  display: flex;
  flex-direction: column;
}

.search-item-title {
  margin-top: 0px;
  margin-bottom: 4px;
  width: 400px;
  font-size: 21px;
}

.search-item-title:hover {
  text-decoration: underline;
  cursor: pointer;
}

.search-item-user {
  font-size: 12px;
  color: #767676;
}

.search-item-user:hover {
  text-decoration: underline;
  color: #4285f4;
}

.search-item-details {
  font-size: 12px;
  color: #767676;
  margin: 2px 0px;
}

.search-item-details-line {
  height: 16px;
}

.search-item-details:hover {
  cursor: pointer;
}

.search-item-description {
  color: #767676;
  display: flex;
  height: auto;
}

.search-item-description h5 {
  font-size: 12px;
  margin: 4px 0px;
}
