.process-form-container {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  z-index: 1;
  width: 450px;
  height: 500px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.process-form {
  padding: 2px;
  width: 80%;
  height: 45%;
  position: relative;
}

.process-form button {
  background-color: #4285f4;
  border-radius: 4px;
  padding: 7px 20px;
  font-size: 14px;
  font-weight: 500;
  color: white;
  border: 1px solid #4285f4;
}

.process-form input {
  padding: 12px 20px;
  border: none;
  border-bottom: 1px solid lightgray;
  transition: width 300ms;
  outline: none;
  font-size: 14px;
  width: 100%;
  box-sizing: border-box;
  cursor: text;
  position: absolute;
}

hr {
		content: '';
		display: block;
		position: absolute;
		bottom: 0;
		left: 0;
		margin: 0 auto;
		padding: 0;
		width: 30%;
		height: 2px;
		border: none;
		background: #607D8B;
		font-size: 1px;
		will-change: transform, visibility;
		transition: all 200ms ease-out;
		transform: scaleX(0);
		visibility: hidden;
		z-index: 10;
}

.process-form input:focus ~ hr {
	transform: scaleX(1);
	visibility: visible;
}


.process-form input:focus {
  outline: none;
  border-bottom: 2px solid #4285f4;
  width: 89%;
}

.process-form button:hover {
  cursor: pointer;
}

.process-form-greeting p {
  margin: 0;
  padding-top: 1px;
  padding-bottom: 3px;
  font-size: 14px;
}

.process-form-greeting h1 {
  padding-top: 16px;
  padding-bottom: 0px;
  font-size: 24px;
  line-height: 32px;
  margin: 0;
}

.process-form-greeting {
  margin: 70px 0px 10px;
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.button-list {
  display: flex;
  justify-content: space-around;
}



//
//
// .label-box {
//     position: relative;
//     width: 270px;
// }
//
// .label-box::before,
// .label-box::after {
//     content: "";
//     position: absolute;
//     height: 2px;
//     width: 0;
//     bottom: 1px;
//     background-color: #757575;
//     transition-property: width;
//     transition-duration: 0.2s;
// }
//
// .label-box::before {
//     left: 50%;
// }
//
// .label-box::after {
//     right: 50%;
// }
//
// input:focus ~ .label-box::before,
// input:focus ~ .label-box::after {
//     width: 50%;
// }
//
// input {
//     width: 270px;
    // padding: 5px;
    // font-size: 18px;
    // border: none;
    // border-bottom: 1px solid #757575;
    // box-sizing: border-box;
// }
//
// label {
//     position: absolute;
//     top: -36px;
//     font-size: 18px;
//     color: #757575;
//     transition: 0.2s ease all;
//     pointer-events: none;
// }
//
input:focus ~ .label-box label,
input:valid ~ .label-box label {
    font-size: 14px;
    transform: translateY(-20px);
}
