.viewbar-item {
  width: 160px;
}

.viewbar-index {
  float: right;
  margin: 0px 37px;
  background-color: white;
  width: 1020px;
  height: 189px;
  padding: 15px 18px;
}

.viewbar-index button {
  color: #767676;
  border: none;
  background-color: transparent;
  font-weight: 900;
  outline;
}

.thumbnail {
  width: 196px;
  height: 110px;
}

.thumbnail img {
  width: 196px;
  height: 110px;
}

.viewbar-item-title {
  display: flex;
  flex-wrap: wrap;
}

.viewbar-item-title a {
  font-size: 14px;
  color: #167ac6;
}

.viewbar-item a:hover {
  text-decoration: underline;
  color: #167ac6;
}

.viewbar-user {
  font-size: 12px;
  color: #767676;
}

.item-details {
  margin-top: 2px;
  font-size: 12px;
  color: #767676;
}
