<!DOCTYPE html>
<html>
  <head>
    <title>ShareTube</title>
    <link rel="shortcut icon" href="https://s3.us-east-2.amazonaws.com/sharetube-dev/videos/thumbnails/000/000/013/original/missing.png">
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
  </head>

  <body>
    <%= yield %>
  </body>
</html>
